/.pytest_cache
/gravitational_transform.egg-info
build/
dist/
.ipynb_checkpoints/
.venv/
env/
*.egg-info/
.eggs/
__pycache__/
*.pyc
gt/fourier/__pycache__
gt/fourier/tests/__pycache__
gt/simulation/__pycache__
gt/simulation/tests/__pycache__
gt/visualization/__pycache__
gt/visualization/tests/__pycache__

gt/__pycache__/__init__.cpython-311.pyc
gt/fourier/__pycache__/__init__.cpython-311.pyc
gt/fourier/__pycache__/decomposition.cpython-311.pyc
gt/fourier/__pycache__/mapping.cpython-311.pyc
gt/fourier/tests/__pycache__/test_decomposition.cpython-311-pytest-9.0.1.pyc
gt/fourier/tests/__pycache__/test_mapping.cpython-311-pytest-9.0.1.pyc
gt/simulation/__pycache__/initial_conditions.cpython-311.pyc
gt/simulation/__pycache__/nbody.cpython-311.pyc
gt/simulation/__pycache__/reconstruction.cpython-311.pyc
gt/simulation/tests/__pycache__/test_initial_conditions.cpython-311-pytest-9.0.1.pyc
gt/simulation/tests/__pycache__/test_nbody.cpython-311-pytest-9.0.1.pyc
gt/simulation/tests/__pycache__/test_reconstruction.cpython-311-pytest-9.0.1.pyc
gt/visualization/__pycache__/__init__.cpython-311.pyc
gt/visualization/__pycache__/animation.cpython-311.pyc
gt/visualization/__pycache__/orbit_plot.cpython-311.pyc
gt/visualization/tests/__pycache__/test_animation.cpython-311-pytest-9.0.1.pyc
gt/visualization/tests/__pycache__/test_orbit_plot.cpython-311-pytest-9.0.1.pyc
